* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes movimientos {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }

body {
  background-image: url(../img/lafoto.jpg);
  background-repeat: repeat;
  font-family: 'Peralta', cursive;
  font-size: 14.2px; }

@media screen and (max-width: 680px) {
  div main div {
    display: inline-block;
    text-align: center; }
  .header-uno {
    display: inline-block;
    text-align: center; }
    .header-uno nav ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-image: linear-gradient(to top, #252424, white); }
      .header-uno nav ul li {
        background-color: transparent;
        justify-items: center;
        justify-content: center; }
  .header-dos {
    display: inline-block;
    text-align: center; }
    .header-dos nav ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-image: linear-gradient(to top, #252424, white); }
      .header-dos nav ul li {
        background-color: transparent;
        justify-items: center;
        justify-content: center; }
  .header-tres {
    display: inline-block;
    text-align: center; }
    .header-tres nav ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-image: linear-gradient(to top, #252424, white); }
      .header-tres nav ul li {
        background-color: transparent;
        justify-items: center;
        justify-content: center; } }

header h1 {
  text-align: center;
  color: black;
  padding: 1rem;
  background-image: linear-gradient(to bottom, #252424, white); }

header .contenedor {
  color: black; }

header h2 {
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  background-image: linear-gradient(to top, #535353, white);
  color: black; }

main div {
  display: flex;
  justify-content: space-evenly; }
  main div a img {
    width: 95%;
    margin: 1rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 1rem white;
    animation-name: movimientos;
    animation-duration: 3s;
    animation-iteration-count: infinite; }
  main div a .imagen-1 {
    width: 40vh; }
  main div a .imagen-2 {
    width: 40vh; }
  main div a .imagen-3 {
    width: 40vh; }
  main div a .imagen-4 {
    width: 40vh; }

footer h3 {
  margin-top: 11.5vh;
  padding: 1rem;
  text-align: center;
  color: #332d2d;
  background-color: black;
  color: white; }

/*estilos de primeragen-html*/
.contenedor-primero {
  display: grid;
  grid-template-areas: "header header" "main main" "section sec-dos" "footer footer";
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.2fr 0.5fr 0.5fr 0.2fr; }
  .contenedor-primero .header-uno {
    grid-area: header;
    gap: 1rem;
    margin-bottom: 1rem; }
    .contenedor-primero .header-uno nav ul {
      display: flex;
      background-color: #3d3d3d;
      justify-content: space-evenly; }
      .contenedor-primero .header-uno nav ul li {
        background-color: #3d3d3d;
        padding: 1rem;
        list-style: none;
        display: flex; }
        .contenedor-primero .header-uno nav ul li a {
          text-decoration: none;
          color: #d4d4d4; }
  .contenedor-primero .main-uno {
    background-image: linear-gradient(to bottom, #252424, white);
    color: #c5c5c5;
    grid-area: main; }
    .contenedor-primero .main-uno h1 {
      text-align: center; }
    .contenedor-primero .main-uno div-uno {
      text-align: center; }
    .contenedor-primero .main-uno .squirtle {
      width: 25vh;
      transition: 1s; }
      .contenedor-primero .main-uno .squirtle:hover {
        transform: scale(1.1); }
    .contenedor-primero .main-uno .bulbasaur {
      width: 25vh;
      transition: 1s; }
      .contenedor-primero .main-uno .bulbasaur:hover {
        transform: scale(1.1); }
    .contenedor-primero .main-uno .charmander {
      width: 25vh;
      transition: 1s; }
      .contenedor-primero .main-uno .charmander:hover {
        transform: scale(1.1); }
    .contenedor-primero .main-uno .pikachu {
      width: 25vh;
      transition: 1s; }
      .contenedor-primero .main-uno .pikachu:hover {
        transform: scale(1.1); }
  .contenedor-primero .legendariospri-gen {
    background-image: linear-gradient(to top, #252424, white);
    grid-area: section;
    text-align: center;
    color: black; }
    .contenedor-primero .legendariospri-gen div .articuno {
      width: 20vh;
      transition: 1s; }
      .contenedor-primero .legendariospri-gen div .articuno:hover {
        transform: scale(1.1); }
    .contenedor-primero .legendariospri-gen div .moltres {
      width: 20vh;
      transition: 1s; }
      .contenedor-primero .legendariospri-gen div .moltres:hover {
        transform: scale(1.1); }
    .contenedor-primero .legendariospri-gen div .zapdos {
      width: 20vh;
      transition: 1s; }
      .contenedor-primero .legendariospri-gen div .zapdos:hover {
        transform: scale(1.1); }
    .contenedor-primero .legendariospri-gen div .mew {
      width: 20vh;
      transition: 1s; }
      .contenedor-primero .legendariospri-gen div .mew:hover {
        transform: scale(1.1); }
    .contenedor-primero .legendariospri-gen div .meowto {
      width: 20vh;
      transition: 1s; }
      .contenedor-primero .legendariospri-gen div .meowto:hover {
        transform: scale(1.1); }
    .contenedor-primero .legendariospri-gen div .dragonite {
      width: 20vh;
      transition: 1s; }
      .contenedor-primero .legendariospri-gen div .dragonite:hover {
        transform: scale(1.1); }
  .contenedor-primero .otrospokes-uno {
    grid-area: sec-dos;
    background-image: linear-gradient(to top, #252424, white);
    text-align: center; }
    .contenedor-primero .otrospokes-uno .nidorino {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .nidorino:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .nidoran {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .nidoran:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .widle {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .widle:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .pidgey {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .pidgey:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .spearow {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .spearow:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .pichu {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .pichu:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .caterpie {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .caterpie:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .rattata {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .rattata:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .jigly {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .jigly:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .snorlax {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .snorlax:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .clefa {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .clefa:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .ekans {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .ekans:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .abra {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .abra:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .oddish {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .oddish:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .gastly {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .gastly:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .grimer {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .grimer:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .geoudude {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .geoudude:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .magikarp {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .magikarp:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .machop {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .machop:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .mankey {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .mankey:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .meow {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .meow:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .diggle {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .diggle:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .bellsprout {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .bellsprout:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .cubone {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .cubone:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .hitmonlee {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .hitmonlee:hover {
        transform: scale(1.5); }
    .contenedor-primero .otrospokes-uno .hitmonchan {
      width: 10vh;
      transition: 1s; }
      .contenedor-primero .otrospokes-uno .hitmonchan:hover {
        transform: scale(1.5); }
  .contenedor-primero .footer-uno {
    display: none;
    grid-area: footer; }

/*estilos segunda generacion*/
.contenedor-segundo {
  display: grid;
  grid-template-areas: "header header" "main main" "section sec-dos" "footer footer";
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.2fr 0.5fr 0.5fr 0.2fr; }
  .contenedor-segundo .header-dos {
    grid-area: header;
    gap: 1rem;
    margin-bottom: 1rem; }
    .contenedor-segundo .header-dos nav ul {
      display: flex;
      background-color: #3d3d3d;
      justify-content: space-evenly; }
      .contenedor-segundo .header-dos nav ul li {
        background-color: #3d3d3d;
        padding: 1rem;
        list-style: none;
        display: flex; }
        .contenedor-segundo .header-dos nav ul li a {
          text-decoration: none;
          color: #d4d4d4; }
  .contenedor-segundo .main-dos {
    background-image: linear-gradient(to bottom, #252424, white);
    color: #c5c5c5;
    grid-area: main; }
    .contenedor-segundo .main-dos h1 {
      text-align: center; }
    .contenedor-segundo .main-dos div-dos {
      text-align: center; }
    .contenedor-segundo .main-dos .totodile {
      width: 25vh;
      transition: 1s; }
      .contenedor-segundo .main-dos .totodile:hover {
        transform: scale(1.1); }
    .contenedor-segundo .main-dos .chikorita {
      width: 25vh;
      transition: 1s; }
      .contenedor-segundo .main-dos .chikorita:hover {
        transform: scale(1.1); }
    .contenedor-segundo .main-dos .cyndaquil {
      width: 25vh;
      transition: 1s; }
      .contenedor-segundo .main-dos .cyndaquil:hover {
        transform: scale(1.1); }
    .contenedor-segundo .main-dos .pikachu {
      width: 25vh;
      transition: 1s; }
      .contenedor-segundo .main-dos .pikachu:hover {
        transform: scale(1.1); }
  .contenedor-segundo .legendariosdos-gen {
    background-image: linear-gradient(to top, #252424, white);
    grid-area: section;
    text-align: center;
    color: black; }
    .contenedor-segundo .legendariosdos-gen div .suicune {
      width: 20vh;
      transition: 1s; }
      .contenedor-segundo .legendariosdos-gen div .suicune:hover {
        transform: scale(1.1); }
    .contenedor-segundo .legendariosdos-gen div .entei {
      width: 20vh;
      transition: 1s; }
      .contenedor-segundo .legendariosdos-gen div .entei:hover {
        transform: scale(1.1); }
    .contenedor-segundo .legendariosdos-gen div .raikou {
      width: 20vh;
      transition: 1s; }
      .contenedor-segundo .legendariosdos-gen div .raikou:hover {
        transform: scale(1.1); }
    .contenedor-segundo .legendariosdos-gen div .lugia {
      width: 20vh;
      transition: 1s; }
      .contenedor-segundo .legendariosdos-gen div .lugia:hover {
        transform: scale(1.1); }
    .contenedor-segundo .legendariosdos-gen div .hooh {
      width: 20vh;
      transition: 1s; }
      .contenedor-segundo .legendariosdos-gen div .hooh:hover {
        transform: scale(1.1); }
    .contenedor-segundo .legendariosdos-gen div .celebi {
      width: 20vh;
      transition: 1s; }
      .contenedor-segundo .legendariosdos-gen div .celebi:hover {
        transform: scale(1.1); }
  .contenedor-segundo .otrospokes-dos {
    grid-area: sec-dos;
    background-image: linear-gradient(to top, #252424, white);
    text-align: center; }
    .contenedor-segundo .otrospokes-dos .ledyba {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .ledyba:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .chinchou {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .chinchou:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .marill {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .marill:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .sentret {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .sentret:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .cobrat {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .cobrat:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .hoothoot {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .hoothoot:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .natu {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .natu:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .mareep {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .mareep:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .togepi {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .togepi:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .bellosom {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .bellosom:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .scizor {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .scizor:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .heracross {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .heracross:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .politoed {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .politoed:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .bobo {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .bobo:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .steelix {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .steelix:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .teddihursa {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .teddihursa:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .kingdra {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .kingdra:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .phanpy {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .phanpy:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .girafarig {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .girafarig:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .spinarak {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .spinarak:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .magby {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .magby:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .sneasel {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .sneasel:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .elekid {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .elekid:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .houndour {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .houndour:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .blissey {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .blissey:hover {
        transform: scale(1.5); }
    .contenedor-segundo .otrospokes-dos .delibird {
      width: 10vh;
      transition: 1s; }
      .contenedor-segundo .otrospokes-dos .delibird:hover {
        transform: scale(1.5); }
  .contenedor-segundo .footer-dos {
    display: none;
    grid-area: footer; }

/*estilos tercera generacion*/
.contenedor-tercero {
  display: grid;
  grid-template-areas: "header header" "main main" "section sec-dos" "footer footer";
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.2fr 0.5fr 0.5fr 0.2fr; }
  .contenedor-tercero .header-tres {
    grid-area: header;
    gap: 1rem;
    margin-bottom: 1rem; }
    .contenedor-tercero .header-tres nav ul {
      display: flex;
      background-color: #3d3d3d;
      justify-content: space-evenly; }
      .contenedor-tercero .header-tres nav ul li {
        background-color: #3d3d3d;
        padding: 1rem;
        list-style: none;
        display: flex; }
        .contenedor-tercero .header-tres nav ul li a {
          text-decoration: none;
          color: #d4d4d4; }
  .contenedor-tercero .main-tres {
    background-image: linear-gradient(to bottom, #252424, white);
    color: #c5c5c5;
    grid-area: main; }
    .contenedor-tercero .main-tres h1 {
      text-align: center; }
    .contenedor-tercero .main-tres div-tres {
      text-align: center; }
    .contenedor-tercero .main-tres .mudkip {
      width: 25vh;
      transition: 1s; }
      .contenedor-tercero .main-tres .mudkip:hover {
        transform: scale(1.1); }
    .contenedor-tercero .main-tres .treecko {
      width: 25vh;
      transition: 1s; }
      .contenedor-tercero .main-tres .treecko:hover {
        transform: scale(1.1); }
    .contenedor-tercero .main-tres .torchit {
      width: 25vh;
      transition: 1s; }
      .contenedor-tercero .main-tres .torchit:hover {
        transform: scale(1.1); }
    .contenedor-tercero .main-tres .pikachu {
      width: 25vh;
      transition: 1s; }
      .contenedor-tercero .main-tres .pikachu:hover {
        transform: scale(1.1); }
  .contenedor-tercero .legendariostres-gen {
    background-image: linear-gradient(to top, #252424, white);
    grid-area: section;
    text-align: center;
    color: black; }
    .contenedor-tercero .legendariostres-gen div .jirachi {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .jirachi:hover {
        transform: scale(1.1); }
    .contenedor-tercero .legendariostres-gen div .deoxys {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .deoxys:hover {
        transform: scale(1.1); }
    .contenedor-tercero .legendariostres-gen div .latios {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .latios:hover {
        transform: scale(1.1); }
    .contenedor-tercero .legendariostres-gen div .latias {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .latias:hover {
        transform: scale(1.1); }
    .contenedor-tercero .legendariostres-gen div .kyogre {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .kyogre:hover {
        transform: scale(1.1); }
    .contenedor-tercero .legendariostres-gen div .groudon {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .groudon:hover {
        transform: scale(1.1); }
    .contenedor-tercero .legendariostres-gen div .rayquaza {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .rayquaza:hover {
        transform: scale(1.1); }
    .contenedor-tercero .legendariostres-gen div .registeel {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .registeel:hover {
        transform: scale(1.1); }
    .contenedor-tercero .legendariostres-gen div .regirock {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .regirock:hover {
        transform: scale(1.1); }
    .contenedor-tercero .legendariostres-gen div .regice {
      width: 20vh;
      transition: 1s; }
      .contenedor-tercero .legendariostres-gen div .regice:hover {
        transform: scale(1.1); }
  .contenedor-tercero .otrospokes-tres {
    grid-area: sec-dos;
    background-image: linear-gradient(to top, #252424, white);
    text-align: center; }
    .contenedor-tercero .otrospokes-tres .poochyena {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .poochyena:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .wurmple {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .wurmple:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .beautifly {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .beautifly:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .lotad {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .lotad:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .ralts {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .ralts:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .surskit {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .surskit:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .slakoth {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .slakoth:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .wishmur {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .wishmur:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .makuhita {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .makuhita:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .azurill {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .azurill:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .sableye {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .sableye:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .carvanha {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .carvanha:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .aaron {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .aaron:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .numel {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .numel:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .trapinch {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .trapinch:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .cacnea {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .cacnea:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .seviper {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .seviper:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .corpish {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .corpish:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .lunatone {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .lunatone:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .solrock {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .solrock:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .absol {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .absol:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .glalie {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .glalie:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .wynaut {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .wynaut:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .shupet {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .shupet:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .volbeat {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .volbeat:hover {
        transform: scale(1.5); }
    .contenedor-tercero .otrospokes-tres .beldum {
      width: 10vh;
      transition: 1s; }
      .contenedor-tercero .otrospokes-tres .beldum:hover {
        transform: scale(1.5); }
  .contenedor-tercero .footer-tres {
    display: none;
    grid-area: footer; }

.body-nosotros .main-nosotros p {
  background-color: white;
  margin-top: 1rem; }

.body-nosotros footer strong {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 65.8vh; }
