//reset
@import "partials/reset";
@import "partials/keyframes";
@import "partials/fondo";
@import "partials/variables";
@import "partials/mixin";

    header{
        h1{
            text-align: center;
            color: rgb(0, 0, 0);
            padding: 1rem;
            background-image: linear-gradient(to bottom,  rgb(37, 36, 36), white);
        }
        .contenedor{
            color: black;
        }
        h2{
        margin-bottom: 2rem;
        padding: 1rem;
        text-align: center;
        background-image: linear-gradient(to top, rgb(83, 83, 83), white);
        color: black
        }
    }
    main{
        div{
            display: flex;
            justify-content: space-evenly;
            a{
                img{
                    @include img
                }
                .imagen-1{
                    width: 40vh;
                }
                .imagen-2{
                    width: 40vh;
                }
                .imagen-3{
                    width: 40vh;
                }
            }
        }

    }
    footer{
        h3{
            margin-top: 11.5vh;
            padding: 1rem;
            text-align: center;
            color: rgb(51, 45, 45);
            background-color: black;
            color: white;
        }
    }


 /*estilos de primeragen-html*/
 .contenedor-primero{
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "section sec-dos"
    "footer footer";
    gap: 1rem;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.2fr;
    .header-uno{
        grid-area: header;
        gap: 1rem;
        margin-bottom: 1rem;
        nav{
            ul{
                display: flex;
                background-color: rgb(61, 61, 61);
                justify-content: space-evenly;
                li{
                    background-color: rgb(61, 61, 61);
                    padding: 1rem;
                    list-style: none;
                    display: flex;

                    a{
                        text-decoration: none;
                        color: rgb(212, 212, 212);
                    }
                }
            }
        }
    }
    .main-uno{
        background-image: linear-gradient(to bottom,  rgb(37, 36, 36), white);
        color: rgb(197, 197, 197);
        grid-area: main;
        h1{
            text-align: center;
        }
        div-uno{
            text-align: center;
        }
        .squirtle{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .bulbasaur{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .charmander{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .pikachu{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .legendariospri-gen{
        background-image: linear-gradient(to top,  rgb(37, 36, 36), white);
        grid-area: section;
        text-align: center;
        color: black;
        div{
            .articuno{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .moltres{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
                
            }
            .zapdos{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .mew{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .meowto{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .dragonite{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);}
            }
        }

    }
    .otrospokes-uno{
        grid-area: sec-dos;
        background-image: linear-gradient(to top,  rgb(37, 36, 36), white);
        text-align: center;
        .nidorino {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .nidoran {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .widle {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .pidgey {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .spearow {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .pichu {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .caterpie {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .rattata {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .jigly {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .snorlax {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }     
        .clefa {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .ekans {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }     
        .abra {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }       
        .oddish {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .gastly {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }     
        .grimer {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }      
        .geoudude {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .magikarp {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .machop {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .mankey {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .meow {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .diggle {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .bellsprout {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .cubone {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .hitmonlee {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .hitmonchan {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }

    }
    .footer-uno{
        display: none;
        grid-area: footer;
    }
}
 
/*estilos segunda generacion*/

 .contenedor-segundo{
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "section sec-dos"
    "footer footer";
    gap: 1rem;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.2fr;
    .header-dos{
        grid-area: header;
        gap: 1rem;
        margin-bottom: 1rem;
        nav{
            ul{
                display: flex;
                background-color: rgb(61, 61, 61);
                justify-content: space-evenly;
                li{
                    background-color: rgb(61, 61, 61);
                    padding: 1rem;
                    list-style: none;
                    display: flex;

                    a{
                        text-decoration: none;
                        color: rgb(212, 212, 212);
                    }
                }
            }
        }
    }
    .main-dos{
        background-image: linear-gradient(to bottom,  rgb(37, 36, 36), white);
        color: rgb(197, 197, 197);
        grid-area: main;
        h1{
            text-align: center;
        }
        div-dos{
            text-align: center;
        }
        .totodile{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .chikorita{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .cyndaquil{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .pikachu{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .legendariosdos-gen{
        background-image: linear-gradient(to top,  rgb(37, 36, 36), white);
        grid-area: section;
        text-align: center;
        color: black;
        div{
            .suicune{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .entei{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
                
            }
            .raikou{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .lugia{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .hooh{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .celebi{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
        }

    }
    .otrospokes-dos{
        grid-area: sec-dos;
        background-image: linear-gradient(to top,  rgb(37, 36, 36), white);
        text-align: center;
        .ledyba {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .chinchou {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .marill {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .sentret {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .cobrat {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .hoothoot {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .natu {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .mareep {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .togepi {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .bellosom {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }     
        .scizor {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .heracross {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }     
        .politoed {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }       
        .bobo {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .steelix {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }     
        .teddihursa {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }      
        .kingdra {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .phanpy {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .girafarig {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .spinarak {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .magby {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .sneasel {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .elekid {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .houndour {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .blissey{
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .delibird {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }

    }
    .footer-dos{
        display: none;
        grid-area: footer;
    }
}

/*estilos tercera generacion*/

.contenedor-tercero{
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "section sec-dos"
    "footer footer";
    gap: 1rem;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.2fr;
    .header-tres{
        grid-area: header;
        gap: 1rem;
        margin-bottom: 1rem;
        nav{
            ul{
                display: flex;
                background-color: rgb(61, 61, 61);
                justify-content: space-evenly;
                li{
                    background-color: rgb(61, 61, 61);
                    padding: 1rem;
                    list-style: none;
                    display: flex;

                    a{
                        text-decoration: none;
                        color: rgb(212, 212, 212);
                    }
                }
            }
        }
    }
    .main-tres{
        background-image: linear-gradient(to bottom,  rgb(37, 36, 36), white);
        color: rgb(197, 197, 197);
        grid-area: main;
        h1{
            text-align: center;
        }
        div-tres{
            text-align: center;
        }
        .mudkip{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .treecko{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .torchit{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .pikachu{
            width: 25vh;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .legendariostres-gen{
        background-image: linear-gradient(to top,  rgb(37, 36, 36), white);
        grid-area: section;
        text-align: center;
        color: black;
        div{
            .jirachi{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .deoxys{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
                
            }
            .latios{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .latias{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .kyogre{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .groudon{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .rayquaza{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .registeel{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .regirock{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
            .regice{
                width: 20vh;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    
                }
            }
        }

    }
    .otrospokes-tres{
        grid-area: sec-dos;
        background-image: linear-gradient(to top,  rgb(37, 36, 36), white);
        text-align: center;
        .poochyena {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .wurmple {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .beautifly {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .lotad {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .ralts {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .surskit {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .slakoth {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .wishmur {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .makuhita {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .azurill {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }     
        .sableye {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .carvanha {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }     
        .aaron {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }       
        .numel {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .trapinch {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }     
        .cacnea {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }      
        .seviper {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .corpish {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .lunatone {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .solrock {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .absol {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .glalie {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .wynaut {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .shupet {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .volbeat{
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .beldum {
            width: 10vh;
            transition: 1s;
            &:hover{
                transform: scale(1.5);
            }
        }

    }
    .footer-tres{
        display: none;
        grid-area: footer;
    }
}