@media screen and (max-width: 680px){
    div{
        main{
            div{
                display: inline-block;
                text-align: center;
            }
        }
    }
    .contenedor-primero{
        heeader-uno{
            display: inline-block;
            text-align: center;
            nav{
                background-image: linear-gradient(to bottom,  rgb(37, 36, 36), white);
                a{
                    background-color: transparent;
                    text-decoration: none;
                    color: black;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-items: center;
                background-image: linear-gradient(to top,  rgb(37, 36, 36), white);
                li{
                    display: inline-block;
                    background-color: transparent;
                    a{
                        color: black;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}